@import '../../../assets/scss/Images.scss';

.content {
  display: flex;
  padding: 0 16px;
  min-width: 314px;
  width: 100%;
  min-height: 80%;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex; flex-wrap: wrap;
  min-width: 100%; margin-left: auto;
  margin-right: auto;
  justify-content: center; margin-top: 35px;
}

.card {
  all: unset;
  border-radius: 10px;
  border: 3px solid #eee;
  background-color: #fafafa;
  height: 200px; width: 45%;
  margin-top: 25px; padding: 16px;
  margin-right: auto; margin-left: auto;
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 791px) {
  .card{ width: 90%; }
}