<nav class="navbar navbar-expand-lg navbar-light">
  <img id="logo_with_text" title="Dedalus Logo" alt="Dedalus Logo" src="../../../assets/images/Logo_with_text.png" loading="lazy"/>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of menu$ | async; index as i">
        <!--GESTION DES MENUS AVEC SOUS-MENUS-->
        <ng-container *ngIf="hasSubRoute(item); else elseTemplate">
          <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isVisible(item)">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{item.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subitem of item.subroute">
                <a class="dropdown-item" [routerLink]="subitem.route">{{subitem.name}}</a>
              </li>
              <!--<li><hr class="dropdown-divider"></li>-->
            </ul>
          </li>
        </ng-container>
        <ng-template #elseTemplate>
          <li class="nav-item" *ngIf="isVisible(item)">
            <a class="nav-link" routerLinkActive="active" [routerLink]="item.route">{{item.name}}</a>
          </li>
        </ng-template>
        <!--GESTION DES MENUS AVEC SOUS-MENUS-->

        
       </ng-container>
       <!--<li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
         </div>
       </li>-->
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <a class="circle-link" title="Profil" href="https://discord.gg/angular" target="_blank" rel="noopener">
         <img src="../../../assets/images/profil_no_image.jpg"/>
       </a>
     </form>
   </div>
 </nav>