<nav class="navbar navbar-expand-lg navbar-light">
  <img id="logo_with_text" title="Dedalus Logo" alt="Dedalus Logo" src="../../../assets/images/Logo_with_text.png" loading="lazy"/>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of menu$ | async; index as i">
        <!--GESTION DES MENUS AVEC SOUS-MENUS-->
        <ng-container *ngIf="hasSubRoute(item); else elseTemplate">
          <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isVisible(item)">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{item.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subitem of item.subroute">
                <a class="dropdown-item" [routerLink]="subitem.route">{{subitem.name}}</a>
              </li>
              <!--<li><hr class="dropdown-divider"></li>-->
            </ul>
          </li>
        </ng-container>
        <ng-template #elseTemplate>
          <li class="nav-item" *ngIf="isVisible(item)">
            <a class="nav-link" routerLinkActive="active" [routerLink]="item.route">{{item.name}}</a>
          </li>
        </ng-template>
        <!--GESTION DES MENUS AVEC SOUS-MENUS-->
       </ng-container>
     </ul>
     <form class="dropdown">
       <a class="circle-link" title="Profil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <img src="../../../assets/images/profil_no_image.jpg"/>
       </a>
       <ul id="menuprofil" class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let item of profil$ | async; index as i">
          <a class="dropdown-item" [routerLink]="item.route">{{item.name}}</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="disconnect()">Deconnexion</a>
        </li>
      </ul>
     </form>
   </div>
 </nav>