<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<AppSettings>
    <CorsOrigin>http://localhost:8020</CorsOrigin>
    <CorsOrigin>http://localhost:4200</CorsOrigin>
    <AllowedHost>*</AllowedHost>
    <ApiConf>
        <Port>5000</Port>
        <Port>5555</Port>
        <Port>8020</Port>
        <Server>
            <MaxThreads>100</MaxThreads>
            <MinThreads>10</MinThreads>
            <idleTimeout>120</idleTimeout>
        </Server>
    </ApiConf>
</AppSettings>
