<div class="content bg1" role="main">
   <ngb-accordion #acc="ngbAccordion" [destroyOnHide]="false">
      <ngb-panel id="ngb-panel-details">
         <ng-template ngbPanelTitle><h4>AFFICHAGE</h4></ng-template>
         <ng-template ngbPanelContent>
            <p>eonfenfiofneio</p>
         </ng-template>
      </ngb-panel>
      <ngb-panel> <!--[disabled]="!liaisonId"-->
         <ng-template ngbPanelTitle><h4>name</h4></ng-template>
         <ng-template ngbPanelContent>
            <p>eonfenfiofneio</p>
         </ng-template>
      </ngb-panel>
      <ngb-panel>
         <ng-template ngbPanelTitle><h4>name</h4></ng-template>
         <ng-template ngbPanelContent>
            <p>eonfenfiofneio</p>
         </ng-template>
      </ngb-panel>
   </ngb-accordion>
 </div>