.alert-button{
   background-color:crimson;
   border-color: crimson;
   color: white;
}

.nav-button{
   background-color:cornflowerblue;
   border-color: cornflowerblue;
   color: white;
}

.button{ border-radius: 5px; margin-top: 15px; margin-bottom: 15px;}