#logo_with_text{
   min-width: 100px;
   max-width: 200px;
   max-height: 200px;
}

.bg_health{
   z-index: relative;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;-moz-background-size: cover;
   -o-background-size: cover;background-size: cover;
   background-image: url(../images/background1.jpg);
}

.bg1{ background: linear-gradient(lightgray, white); }