@import '../../../assets/scss/Images.scss';

#container{
   height: 100%;
   display: flex;
   form, input{ margin-right: auto; margin-left: auto;}
   form{
      border: 2px solid black;
      display: flex;
      margin: auto;
      min-width: 40%;
      height: 80%;
      background-color: white;
      #form{
         min-width: 95%;
         min-height: 75%;
         margin: auto;
         img, button, h1, p{ margin-left: 80px; }
         img, h1{ margin-top: 15px;}
         h1{ margin-bottom: 5px; }
         input{ 
            margin-top: 25px;
            max-width: 75%;
            background-color: lightgray;
            margin-bottom: 25px;
         }
         #envtest, #erreurco{
            min-width: 75%;
            max-width: 75%;
            margin: auto;
            margin-top: 25px;
         }
         textarea{
            background-color: lightgray;
            margin: auto;
            min-width: 75%;
            min-height: 250px;
            overflow-y: scroll;
         }
      }
   }
}