<nav class="bg1 navbar navbar-expand-md navbar-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="bg1 collapse navbar-collapse" id="navbarSupportedContent">
    <img class="logoAccueil" src="../assets/pictures/Logo (2).png" alt="" />
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="[AppRoutingEnum.Home]">
        <b>Accueil</b>
      </a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.Contact]">
          <b>Contact</b>
        </a></li>
    </ul>
    
    <form class="form-inline">
      <a class="circle-link" title="Connexion" rel="noopener">
        <img class="logoConnexion" src="../assets/pictures/connexion.png" />
      </a>
    </form>
  </div>
</nav>