<div class="content bg1" role="main">
  <button type="button" class="button nav-button1" title="Ajouter Connaissance"> + AJOUTER CONNAISSANCE</button>
   <table class="table">
      <tbody>
          <tr *ngIf="isLoading" class="text-center">
              <td colspan="7">
               <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
               </div>
              </td>
          </tr>
          <tr *ngIf="!isListFilled && !isLoading" class="text-center">
            <td colspan="7">Aucune Connaissance</td>
          </tr>
          <tr *ngIf="isListFilled && !isLoading">
            <td class="align-middle font-weight-bold">N°</td>
            <td class="align-middle font-weight-bold">CODE</td>
            <td class="align-middle font-weight-bold">LIBELLE</td>
            <td class="align-middle font-weight-bold">ACTION</td>
          </tr>
          <tr class="selectable" (click)="goToDetails(item)" *ngFor="let item of listConnaissance" style="cursor: pointer">
            <td class="align-middle font-weight-bold">{{indexList(item)}}</td>
            <td class="align-middle">{{ item.code }}</td>
            <td class="align-middle">{{ item.libelle }}</td>
            <td class="align-middle">
              <button type="button" class="btn btn-link" title="Exporter">
                <mat-icon class="fas fa-file-download fa-2x"> import_export</mat-icon>
              </button>
              <button type="button" class="btn btn-link" title="Supprimer">
                <mat-icon class="fas fa-2x fa-trash text-danger">restore_from_trash</mat-icon>
              </button>
              <!--<button type="button"
                      class="btn btn-link"
                      placement="left"
                      ngbTooltip="{{ 'test' }}" >
                <i class="fas fa-file-download fa-2x"></i>
              </button>
              <button type="button"
                      class="btn btn-link"
                      ngbTooltip="{{ 'test' }}"
                      placement="left">
                <i class="fas fa-2x fa-trash text-danger"></i>
              </button>-->
            </td>
          </tr>
      </tbody>
  </table>
  <nav *ngIf="isListFilled && !isLoading" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>