@import '../../../../assets/scss/Images.scss';

.content {
   display: flex;
   padding: 0 16px;
   min-width: 314px;
   width: 100%;
   min-height: 80%;
   flex-direction: column;
   align-items: center;
 }