<div id="content" class="bg1">
   <div class="aide">
      <p>Besoin d'aide ?</p>
   </div>
   
   <div class="aides">
      <p>Vous avez une question? Regardez si vous trouvez votre réponse ci-dessous,</p>
      <p>Sinon contactez-nous via <a class="link">ce formulaire</a></p>
   </div>
   
   <ng-container *ngFor="let item of aide$ | async; index as i">
      <div class="questions">
         <p>{{item.question}}</p>
      </div>
      
      <div class="reponses">
         <p>{{item.reponse}}</p>
      </div>
   </ng-container>
</div>
