@import '../../../assets/scss/Images.scss';

#content{ min-height: 100%;}
.aide, .aides{margin-top: 30px; text-align: center; }
.aide p{ font-size:xx-large; }
.aides p{ font-size:x-large; }

.questions p{
   color: orangered;
   margin-top: 30px;
   font-size:large;
}

.reponses p{ margin-left: 40px; font-size:large;}
.icone{ font-size: 30px; color: orangered; }
.link{ color: darkcyan; }
.textimg{ font-size:xx-large; }