<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<App>
    <Configs>
        <Config name="Logging" ref="./Logs.config"/>
        <Config name="ConnectionStrings" ref="./ConnectionStrings.config"/>
    </Configs>
    <Services>
        <Service name="MailService">
            <add name="mail.transport.protocol" value="smtp"/>
            <add name="mail.smtp.port" value="587"/>
        </Service>
    </Services>
</App>
