<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ConnectionStrings>
    <ConnectionString name="BaseDeTest" providerName="org.sqlite.JDBC" url="jdbc:sqlite:C:/Users/Avanzino.A/Desktop/MIAGE/Système de Gestion des Connaissances/Desmoulins/sgc-m2miage/ServeurApp/BaseDefault.db"/>
    <!--<ConnectionString name="BaseEcole" providerName="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@im2ag-oracle.e.ujf-grenoble.fr:1521:im2ag" user="avanzina" password="Sangoku07"/>-->
</ConnectionStrings>
