<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Logs>
    <File>
        <SizeMax unit="Mo">10</SizeMax>
        <Extension>log</Extension>
        <SuffixName>_taceTest</SuffixName>
        <Path>C:\ProgramData\SGC-Miage</Path>
        <Activate>true</Activate>
    </File>
    <Archive>
        <Path>C:\ProgramData\SGC-Miage\Archives</Path>
        <Activate>true</Activate>
        <DelaiPurge unit="Jours">30</DelaiPurge>
    </Archive>
</Logs>
